/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Common
# header


--------------------------------------------------------------*/

$primary_color: #00C0D4;
$secondery_color: #6365A7;
$heading_color: #222222;
$text_color: #888888;

@mixin transition($value){
    -webkit-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin transform($value){
    -webkit-transform: $value;
        -ms-transform: $value;
            transform: $value;
}

html{
    overflow-x: hidden;
}

body{
    font-family: 'Cairo', 'sans-serif';
    color: #444444;
	font-size: 16px;
	line-height: 28px;
    overflow: hidden;
    position: relative;
}

a:active,
a:hover,
a:focus,
a:visited, a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Cairo';
}

.fix{
    overflow: hidden;
}

.img-100{
    width: 100%;
}

p{
    font-size: 16px;
    color: #232323;
    line-height: 1.75;
    margin-bottom: 20px;
}

.btn:hover{
    color: inherit;
}

button{
    cursor: pointer;
}

input:focus, textarea:focus, button:focus{
    outline: none;
    border: 1px solid $primary_color;
}

dl, ol, ul{
    margin: 0 !important;
    padding: 0 !important;
}

@media (min-width: 992px){
    .navigation{
        display: block !important;
    }
}


.site-header{
    background: #fff;
    padding: 20px 0;
}

.btn{
    padding: 15px 28px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Cairo';
    img{
        margin-right: 8px;
    }
}

.btn-primery{
    background: $primary_color;
    color: #fff;
    &:hover{
        color: #fff;
        background: #2AD0E1;
    }
}

.btn-purple{
    background: $secondery_color;
    color: #fff;
    &:hover{
        color: #fff;
        background: #575AA8;
    }
}

.btn-white{
    background: #fff;
    &:hover{
        background: #F1ECEC;
    }
}

.btn-black{
    background: $heading_color;
    color: #fff;
    &:hover{
        background: #444;
    }
}

.city-select {
    .nice-select{
        width: 200px;
        height: 48px;
        text-align: center;
        border-radius: 30px;
        box-shadow: 0 2px 6px rgba(0,0,0, 0.16);
        span.current{
            display: block;
            text-align: center;
            line-height: 43px;
            font-size: 18px;
            font-weight: 600;
        }

        .list{
            width: 100%;
        }

        .option{
            font-size: 18px;
            font-weight: 600;
        }
    }

    .nice-select:after{
        right: 24px;
        
    }
}

.country-select{
    margin-right: 30px;
}

button.menu-toggle{
    padding: 10px 50px;
    background: $heading_color;
    color: #fff;
    border-radius: 30px;
    border: 0 none;
    font-size: 18px;
    font-weight: 600;
    i{
        margin-left: 10px;
    }
    &:focus{
        outline: none;
    }
}

.drowdown-menu{
    position: fixed;
    width: 450px;
    background: $heading_color;
    z-index: 9999;
    right: -100%;
    top: 0;
    padding: 40px 45px;
    height: 100vh;
    transition: 0.7s ease-in-out;
    .dm-logo{
        img{
            width: 120px;
        }
    }

    .dm-time{
        background: transparent;
        border: 0 none;
        color: #fff;
        i{
            font-size: 30px;
        }
    }
}

.drowdown-menu.active-nav{
    right: 0;
}

.navigation{
    padding: 60px 0 100px;
}

ul.main-menu{
    list-style: none;
    li{
        padding: 10px 0;
        a{
            display: block;
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            transition: 0.3s;
            &:hover{
                color: $primary_color;
            }
        }
    }
}

.dm-btns{
    a.btn{
        display: block;
        max-width: 205px;
        margin-bottom: 20px;
        &.btn-primery{
            color: #fff;
        }
    }
    
}

.language-switch{
    position: absolute;
    left: 45px;
    bottom: 40px;
    a{
        font-size: 16px;
        font-weight: 600;
        color: #848484;
        padding: 0 20px;
        &.language-active{
            color: #fff;
            border-left: 2px solid #848484;
        }
    }
}

.sample-home-page{
    width: 100%;
    height: 100vh;
}

.hero-sec{
    padding: 125px 0;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.hero-content{
    .app-logo{
        margin-bottom: 15px;
    }

    span.hero-sub{
        font-size: 26px;
        font-weight: 700;
        color: #fff;
        text-shadow: 0 3px 6px rgba(0,0,0, 0.25);
        letter-spacing: 2px;
        display: inline-block;
        margin-bottom: 25px;
    }

    h2.hero-title{
        font-size: 52px;
        font-weight: 600;
        color: #fff;
        line-height: 1.3;
        text-shadow: 0 3px 6px rgba(0,0,0, 0.16);
        padding-right: 20px;
    }
}

.hero-btns{
    margin-top: 40px;
    a{
        margin-right: 15px;
    }
}

.hero-video{
    position: relative;
    
    margin-left: -15px;
    
}

.hero-video video{
    width: 100%;
    background: $primary_color;
    padding: 5px;
    border-radius: 10px;
    -webkit-box-shadow: -6px 3px 6px rgba(0,0,0, 0.16);
    box-shadow: -6px 3px 6px rgba(0,0,0, 0.16);
}

a.video-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    &::before{
        content: "";
        display: inline-block;
        position: absolute;
        top: -8px;
        left: -2px;
        bottom: -2px;
        right: -2px;
        border-radius: 50%;
        border: 1px solid $secondery_color;
        -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both
            infinite;
        animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
        border-color: $secondery_color;
    }
    img{
        z-index: 999;
        position: relative;
    }
}



@keyframes btnIconRipple {
    0% {
      border-width: 4px;
      transform: scale(0.8);
    }
    80% {
      border-width: 1px;
      transform: scale(1.3);
    }
    100% {
      opacity: 0;
    }
  }


  /**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

.safe-sec{
    padding: 60px 0 100px;
}

.safe-box{
    background: #F8F8F8;
    width: 186px;
    height: 186px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0, 0.16);
    box-shadow: 0 3px 6px rgba(0,0,0, 0.16);
    @include transition(0.3s);
    margin: 0 auto;
    cursor: pointer;
    img.safe-icon-white{
        display: none;
    }
    &:hover{
        background: $primary_color;
        img.safe-icon-white{
            display: block;
        }
        img.safe-icon{
            display: none;
        }
    }
    
}

.active-box{
    .safe-box{
        background: $primary_color;
        img.safe-icon-white{
            display: block;
        }
        img.safe-icon{
            display: none;
        }
    }
}



.safe-content{
    padding-top: 50px;
}

.section-title{
    font-size: 40px;
    font-weight: 700;
    color: #000;
    line-height: 1.2;
    span{
        color: $primary_color;
    }
}

.section-sub{
    font-size: 18px;
    font-weight: 600;
    color: $heading_color;
}

.ride-content{
    padding-bottom: 80px;
    img.ride-img{
        margin-bottom: 30px;
    }
}

.ridebase-wrap{
    position: relative;
    a.video-icon::before{
        border-color: #fff;
    }
}


.discover-sec{
    padding: 100px 0 50px;
}

.section-intro{
    font-size: 16px;
    font-weight: 700;
    color: $primary_color;
    text-transform: uppercase;
}

.sec-br{
    width: 40px;
    height: 1px;
    background: #C3C3C5;
    margin: 30px auto 0;
}

.dcw-1{
    margin-bottom: 50px;
    padding-top: 100px;
}

.section-head{
    padding-bottom: 60px;
}

.discover-content{
    width: 390px;
    margin-bottom: 50px;
    .discover-icon{
        width: 74px;
        img{
            box-shadow: 0 20px 40px rgba(0,0,0, 0.1);
            width: 74px;
            height: 74px;
            border-radius: 50%;
        }
    }

    .discover-desc{
        width: calc(100% - 80px);
        margin-left: 20px;
    }

    .discover-desc{
        h2{
            font-size: 22px;
            font-weight: 600;
            color: $heading_color;
            margin-bottom: 20px;
        }

        p{
            font-size: 18px;
            font-weight: 600;
            color: #888888;
        }
        
    }

    &:nth-child(odd){
        .discover-desc{
            text-align: right;
            margin-right: 20px;
            margin-left: 0;
        }
    }
}

.discover-content-outer{
    position: relative;
    img.discover-mobile{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }
}


.bg-image{
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.discover-banner-content{
    padding: 70px 0;
    .sec-br{
        background: $heading_color;
    }
}

.discover-banner-btns{
    margin-top: 60px;
    a{
        margin-right: 15px;
    }
}

.home-service{
    padding: 100px 0 120px;
}

.home-service-content{
    h3{
        font-size: 40px;
        font-weight: 700;
        color: $heading_color;
        margin-bottom: 30px;
    }

    .hsc-desc{
        p{
            font-size: 20px;
            color: $heading_color;
            margin-bottom: 20px;
        }

        h4{
            font-weight: 700;
            font-size: 20px;
            color: $heading_color;
        }

        ul{
            list-style: none;
            padding: 20px 0 !important;
            li{
                font-size: 20px;
                color: $heading_color;
                margin-bottom: 20px;
                background: url(../images/list-dot.png);
                background-position: center left !important;
                background-repeat: no-repeat !important;
                padding-left: 40px;
            }
        }
    }

    .about-hsc-desc{
        p{
            margin-bottom: 60px;
        }
    }
}

.home-service-content-wrap + .home-service-content-wrap{
    margin-top: 100px;
}

.service-step{
    padding-left: 50px;
    cursor: pointer;
    @include transition(0.3s);
    border-left: 3px solid transparent;
    h2{
        font-size: 30px;
        font-weight: 700;
        color: #8C8D9F;
        line-height: 1.8;
        @include transition(0.3s);
    }
    p{
        font-size: 20px;
        font-weight: 700;
        color: #979797;
        @include transition(0.3s);
    }
    &+ .service-step{
        margin-top: 80px;
    }
    &.active-step, &:hover{
        border-left: 3px solid $primary_color;
        h2{
            color: #0F1137;
        }
        p{
            color: #0F1137;
        }
    }
}

.investor-logos {
    width: 100%;
}

.invettor-btns{
    padding-bottom: 70px;
}

.invest-btn {
    padding: 12px 40px;
    border-radius: 25px;
    border: 0 none;
    background: #EFEFEF;
    font-size: 17px;
    font-weight: 700;
    margin: 0 10px;
    color: #212221;
    box-shadow: 0 2px 0 rgba(0,0,0, 0.1);
    @include transition(0.3s);
    &:hover, &.active-invest{
        background: $primary_color;
        color: #fff;
    }
    &:focus{
        outline: none;
        border: 0 none; 
    }
}

.partner{
    padding: 0 0 120px;
}

.accordion-body{
    display: none;
}

.faq-sec{
    padding: 100px 0;
}

.faq-content-wrap{
    padding: 90px 60px;
    box-shadow: 0 2px 6px rgba(0,0,0, 0.1);
    border-radius: 5px;
}

.faq-accordion{
    
    border-bottom: 1px solid #EDEDED;
    .accordion-head{
        padding: 30px 0;
        font-size: 26px;
        color: #000000;
        cursor: pointer;
        i{
            margin-right: 10px;
            font-size: 18px;
            color: $primary_color;
            &.fa-minus{
                display: none;
            }
        }
        &.active-faq{
            i.fa-plus{
                display: none;
            }
            i.fa-minus{
                display: inline;
            }
        }
    }
}

.accordion-body{
    margin: 30px;
    padding-left: 30px;
    border-left: 1px solid $primary_color;
    p{
        font-size: 20px;
        font-weight: 600;
        color: #666666;
    }

    ol{
        list-style: none;
        li{
            font-size: 20px;
            font-weight: 600;
            color: #666666;
            img{
                margin-right: 8px;
            }
        }
    }
}

.first-accordion{
    display: block;
}

.news-slide{
    margin: 0 10px;
}

.news-cotnent{
    position: relative;
}

.news-text-content{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 30px;
    padding-right: 30px;
    span{
        font-size: 18px;
        color: #fff;
    }
    a.title-link{
        display: block;
        color: #fff;
        h2{
            font-size: 26px;
            font-weight: 600;
            color: #fff;
        }
    }
}

.news-section{
    padding-bottom: 100px;
}

.newslatter-sec{
    padding-bottom: 75px;
}

.newslatter-form{
    width: 490px;
    margin: 0 auto 45px;
}

.newslatter-field{
    position: relative;
    input{
        width: 90%;
        height: 52px;
        border-radius: 30px;
        padding-left: 24px;
        font-size: 16px;
        font-weight: 600;
        color: #000;
        border: 1px solid #F4F4F4;
        @include transition(0.3s);
        &::placeholder{
            color: #BBBBBB;
            font-size: 16px;
            font-weight: 600;
        }
        &:focus{
            border: 1px solid $primary_color;
        }

    }

    button{
        position: absolute;
        right: 0;
        top: 0;
        height: 52px;
        border: 0 none;
        padding: 5px 35px;
        border-radius: 30px;
        background: $primary_color;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        i{
            margin-left: 8px;
        }
    }
}

p.subs-text{
    font-size: 20px;
    font-weight: 600;
    color: $heading_color;
    text-align: center;
}

.footer{
    background: $heading_color;
}

.main-footer{
    padding: 40px 0;
    border-bottom: 1px solid #444444;
}

.footer-content{
    .footer-title{
        font-size: 18px;
        font-weight: 700;
        color: $text_color;
    }

    ul.footer-links{
        list-style: none;
        margin-top: 25px !important;
        li{
            margin-bottom: 10px;
            a{
                display: block;
                font-size: 18px;
                font-weight: 600;
                color: #fff;
                @include transition(0.3s);
                &:hover{
                    color: $primary_color;
                }
            }
        }
    }

    .footer-socials{
        margin-top: 25px !important;
        margin-bottom: 30px !important;
        list-style: none;
        li{
            margin-left: 15px;
            padding-right: 15px;
            border-right: 1px solid $text_color;
            &:last-child{
                border: 0 none;
            }
        }
        a{
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #F2F2F2;
            line-height: 40px;
            color: $heading_color;
            text-align: center;
            @include transition(0.3s);
            &:hover{
                background: $primary_color;
                color: #fff;
            }
        }
    }

    .footer-btns{
        a{
            display: block;
            margin-bottom: 15px;
            max-width: 210px;
        }
    }
}

p.copyright{
    margin: 0;
    color: $text_color;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    padding: 15px 0;
}

.visibility-hidden{
    visibility: hidden;
}

.discover-banner-btns{
    a{
        color: #fff;
        &:hover{
            color: #fff
        }
    }
}


.riding-video{
    a.video-icon::before{
        border-color: #fff
    }
}


.opening-hours-sec{
    padding: 100px 0;
}

.open-hour-content{
    padding: 30px 50px;
}

.open-hours-wrap{
    margin-top: 50px;
    .open-hours-time{
        &+ .open-hours-time{
            margin-top: 40px
        }
        h4{
            font-size: 30px;
            font-weight: 600;
            color: #0F1137;
            margin-bottom: 15px
        }

        p{
            font-size: 18px;
            font-weight: 700;
            color: #969696;
        }
    }
}

.hsc-btns{
    a:first-child{
        margin-right: 20px
    }
    a:hover{
        color: #fff
    }
}


.investor-outer{
    display: none;
}


.active-outer{
    display: block
}

.city-riding{
    padding-top: 80px; 
}

button.hs-btn {
    width: 337px;
    padding: 16px 5px;
    border: 0 none;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #333333;
    margin-top: 48px;
    background: #F5F5F5;
    border-radius: 7px;
    box-shadow: 0 3px 0 rgba(0,0,0, 0.08);
    img{
        margin-left: 40px;
    }
}


.discover-banner-content{
    border-radius: 24px;
}

// rider css

.hero-rider{
    padding-bottom: 250px
}

.about-btns{
    margin-top: 40px;
}

.about-ride-sec{
    padding-bottom: 100px
}

.about-news-sec{
    padding-top: 100px;
}

.hero-career{
    background: $secondery_color;
    padding-bottom: 0;
    margin-bottom: 80px;
}

.hero-text{
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    padding: 0 130px;
}

.career-car{
    margin-bottom: -130px
}

.career-feature{
    padding-top: 130px;
    .safe-box:hover{
        background: $secondery_color
    }
    .active-box{
        .safe-box{
            background: $secondery_color;
            img.safe-icon-white{
                display: block;
            }
            img.safe-icon{
                display: none;
            }

        }
    }
}



.safe-content{
    display: none;
}

.first-safe{
    display: block;
}

.job-post-area{
    padding: 60px 0 100px;
}

.job-post-list-wrap{
    background: #FCFCFC;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 12px rgba(0,0,0, 0.11);
    ul{
        list-style: none;
        li{
            a{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 0;
                font-size: 18px;
                font-weight: 500;
                color: #353645;
                border-bottom: 1px solid #E5E5E5;
                @include transition(0.3s);
                &:hover{
                    color: $primary_color
                }
            }
            &:last-child{
                a{
                    border: 0 none
                }
            }
        }
    }
}

.pagi-list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 10px !important;
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0, 0.1);
    width: 150px;
    margin: 20px 0 0 auto !important;
    li{
        a{
            display: block;
            width: 25px;
            height: 25px;
            color: 15px;
            background: #8C95A4;
            color: #fff;
            font-weight: 500;
            border-radius: 50%;
            text-align: center;
            line-height: 25px;
            margin-left: 10px;
            @include transition(0.3s);
            &:hover{
                background: $primary_color
            }
        }
        &.page-active{
            a{
                background: $primary_color
            }
        }
    }
}


.job-post-filter{
    padding-left: 40px;
    .search-filter{
        input{
            width: 100%;
            height: 50px;
            padding-left: 25px;
            border-radius: 30px;
            border: 1px solid transparent;
            box-shadow: 2px 3px 15px rgba(0,0,0, 0.19);
            color: $heading_color;
            font-size: 14px;
            @include transition(0.3s);
            &::placeholder{
                color: #A2A6BB;
                font-size: 14px;
            }
            &:focus{
                border: 1px solid $primary_color
            }
        }
    }
}

.city-filter{
    margin-top: 40px;
}

.filter-title{
    font-size: 16px;
    font-weight: 500;
    color: #A2A6BB;
}

.city-filter-names{
    margin-top: 30px
}

.city-filter-item{
    width: 30%;
    cursor: pointer;
    .cft-img{
        padding: 5px;
        border-radius: 20px;
        img{
            border-radius: 20px;
            height: 116px;
        }
    }
    p{
        font-size: 18px;
        font-weight: 600;
        color: #1D1D1D;
        text-align: center;
        margin-top: 5px;
    }
    &.active-city-filter{
        .cft-img{
            background: $primary_color
        }
    }
    
}

.position-filter-area{
    margin-top: 30px;
}

.position-filter-item{
    width: 15.5%;
    cursor: pointer;
    .pos-icon{
        width: 57px;
        height: 57px;
        border-radius: 50%;
        box-shadow: 1px 3px 9px rgba(0,0,0, 0.1);
        text-align: center;
        line-height: 57px;
        @include transition(0.3s);
        margin: 0 auto 15px;
        .pos-white{
            display: none;
        }
    }
    &:hover, &.active-position{
        .pos-icon{
            background: $primary_color;
            .pos-white{
                display: inline;
            }
            .pos-black{
                display: none
            }
        }
    }

    p{
        font-size: 14px;
        color: #262627;
        text-align: center
    }
}

.driver-dis-sec{
    .discover-content .discover-desc h2{
        margin: 0;
    }
}

.position-filter{
    margin-top: 20px;
}

img.discover-mobile.drider-logo{
    top: 33%;
}

.deriver-vid-sec{
    padding: 100px 0;
}

.contact-hero{
    padding: 150px 0 350px;
}

.contact-service-content{
    padding-right: 40px;
}

.driver-dis-sec, .driver-dis-banner, .driver-newlatter{
    .section-intro{
        color: $secondery_color;
    }
}

.contact-service, .contact-discover, .contact-sec{
    .section-intro{
        color: #FCB953;
    }
}

.contact-sec{
    padding: 60px 0 100px;
}

.contact-from-wrap{
    padding: 55px 45px;
    border: 1px solid #EFEFF0;
}

.contact-field{
    margin-bottom: 15px;
    input.form-control{
        height: 65px;
        background: #F8F8F8;
        border: 1px solid transparent;
        border-radius: 5px;
        padding-left: 20px;
        font-size: 17px;
        color: $heading_color;
        &::placeholder{
            color: #C4C5C9;
            font-size: 17px
        }
        &:focus{
            box-shadow: none;
            border: 1px solid $primary_color
        }
    }

    textarea.form-control{
        height: 158px;
        background: #F8F8F8;
        border: 1px solid transparent;
        border-radius: 5px;
        padding-left: 20px;
        font-size: 17px;
        color: $heading_color;
        &::placeholder{
            color: #C4C5C9;
            font-size: 17px
        }
        &:focus{
            box-shadow: none;
            border: 1px solid $primary_color
        }
    }

    button{
        display: block;
        width: 100%;
        border-radius: 30px;
        padding: 15px 0;
        border: 0 none;
        background: $secondery_color;
        color: #fff;
        font-size: 18px;
        margin-top: 25px
    }
}

.single-hero{
    background: $secondery_color;
}

.job-single-sec{
    padding: 70px 0;
}

.job-desc{
    p{
        font-size: 20px;
        color: #333333;
        margin-bottom: 40px
    }

    h4{
        font-size: 26px;
        font-weight: 700;
        color: #222;
        margin-bottom: 40px
    }

    ul{
        margin: 40px 0 !important;
        list-style: none;
        li{
            font-size: 20px;
            color: #333;
            line-height: 1.3;
            margin: 8px 0;
            background: url(../images/list-dot2.png);
            background-position: center left !important;
            background-repeat: no-repeat !important;
            padding-left: 40px;
        }
    }
}

.checkbox-field{
    margin-bottom: 20px;
    input{
        background: $secondery_color;
        margin-right: 15px;
        display: inline-block;
    }
    label{
        display: inline;
        margin-top: -5px;
        font-size: 20px;
        color: #161C2D;
        img{
            width: 20px;
            margin-left: 15px
        }
        a{
            text-decoration: underline;
            color: $secondery_color;
        }
    }
}

.first-checkbox-field{
    margin-top: 30px;
}

.form-break{
    padding: 60px 0 40px;
    h2{
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        color: #222222;
    }
}

.job-apply-section, .job-post-area{
    padding: 70px 0;
    .section-intro{
        color: $secondery_color
    }
}

img.discover-mobile.drider-logo.img-fluid{
    width: auto;
}



.ridebase-wrap{
    video{
        width: 100%;
    }
}



.home-service-img{
    text-align: center;
}

.discover-sec.driver-dis-sec{
    padding-bottom: 50px
}



.footer-accor-head {
    .fas{
        display: none
    }
}

.news-blog-wrap{
    .news-cotnent{
        margin-bottom: 30px
    }
}

.news-page-sec{
    padding-top: 80px
}

.blog-pagination{
    margin-top: 50px;
    .pagniation-link{
        display: flex;
        justify-content: center;
        list-style: none;
        li{
            margin: 0 10px;
            a{
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: #8C95A4;
                text-align: center;
                color: #fff;
                @include transition(0.3s);
                &:hover{
                    background: $primary_color
                }
            }
            &.page-active{
                a{
                    background: $primary_color;
                }
                
            }
        }
    }
}

.single-blog-title{
    padding: 30px 0 50px;
    h2{
        font-size: 36px;
        font-weight: 700;
        color: $heading_color
    }

    .single-blog-meta{
        margin-top: 10px;
        span{
            color: #161C2D;
            font-size: 18px;
            margin-right: 10px;
            i{
                color: $primary_color;
                margin-right: 5px
            }
        }
    }
}






@import 'responsive';